<div class="categories_container">
    <div class="categories1">
        <div class="categories_title">
            <h2>Categories</h2>
        </div>
        <div class="categories_subtitle">
            <h6>You have all the information at your fingertips</h6>
        </div>
    </div>
    <div class="categories2">
        <div class="categories_info">
            <div class="info_title">
                <h3>General</h3>
            </div>
            <div class="info_subtitle">
                <h6>General information in the UK</h6>
            </div>
        </div>
        <div class="categories_info">
            <div class="info_title">
                <h3>Entertaiment</h3>
            </div>
            <div class="info_subtitle">
                <h6>Films, music and entertaiment</h6>
            </div>
        </div>

        <div class="categories_info">
            <div class="info_title">
                <h3>Sports</h3>
            </div>
            <div class="info_subtitle">
                <h6>You can find sports news here</h6>
            </div>
        </div>
        
    </div>
</div>
