<!--Vsta inicial de portada-->
<div class="news_container" *ngIf="!view else vistaInput">
    <div class="news_title">

    </div>
    <div class="news_button">
        <button class="btn" id="styleButton" (click)="changeView()">Get started</button>
    </div>  
</div>

<!-- Al pulsar get started se renderiza esta vista con el input-->
<ng-template #vistaInput >
    <div class="news_container">
        <div class="news_options">
            <div class="news_title">
                <h3>Enter your favorite category</h3>
            </div>
            <div class="categories">
                <select [(ngModel)]="categorySelect" (change)="captureCategory()" class="styleInput">
                    <option value="0">Select an option</option>
                    <option>general</option>
                    <option>entertainment</option>
                    <option>sports</option>
                </select>
            </div>
            <div class="news_button p-2">
                <button class="btn" id="styleButton" (click)="searchInfo()">Search</button>
            </div>
            <div class="news_button p-2">
                <button class="btn" id="styleButton" (click)="changeView()">Go to home</button>
            </div>
            <div class="news_info">
                <!--Component child, it shows the results to the api-->
                <app-show-info [infoTotal]="infoTotal" [categorySelect]="categorySelect"></app-show-info>
            </div>
        </div>
    </div>
</ng-template>
